learn_size.py
learn_tell.py
sample1.txt
sample2.txt
__pycache__/
steps.txt
arraystuff.py
huh.py
sample1_orig.txt
sample3.txt
testing.py
more_testing.py
old.txt
orig_sample3.txt
old_remove_dupe_from_large_file.py
testing2.py
remove_dupe_from_large_file.py